@import "../../assets/sass/_variables";

.notes-history {
  position: relative;
  width: 90%;
  max-width: 320px;
  height: 100%;
  @include flex(flex-start, flex-start, column);

  &__item {
    @include flex(flex-start, center, row);

    span {
      position: relative;
      width: 24px;
      height: 24px;
      @include flex(center, center, row);
      border-radius: 50%;
      font-size: 10px;
      font-weight: 800;
      margin-right: 12px;
      box-shadow: 0 0 0 2px rgba($color-gray-200, 0.5);

      &.item {
        &--gray {
          color: $color-gray-100;
          background-color: $color-gray-300;
        }

        &--orange {
          color: $color-gray-400;
          background-color: $color-orange-light;
        }
        
        &--black {
          color: $color-gray-400;
          background-color: $color-gray-100;
        }
      }
    }
  }
}
