@import "../../assets/sass/_variables";

.selector-double {
  position: relative;
  width: 90%;
  max-width: 320px;
  @include flex(center, flex-start, column);

  &__title {
    font-size: 24px;
  }

  &__select {
    position: relative;
    height: auto;
    margin-top: 24px;
    color: $color-gray-200;

    &--note {
      width: 25%;
      margin-right: 5%;
    }

    &--scale {
      width: 70%;
    }
  }

  &__content {
    width: 100%;
    @include flex(center, center, row);
  }
}
