// Colors
$color-violet-dark: #3F0D97;
$color-violet-light: #4F10BC;
$color-orange-dark: #cc4b00;
$color-orange-light: #e35500;

// Grays
$color-gray-100: #121212;
$color-gray-200: #343434;
$color-gray-300: #C7C7C7;
$color-gray-400: #EDEDED;
