// Colors
$color-dark-primary: #000b10; // Dark
$color-dark-secondary: #10171e;
$color-umbra-primary: #5F81A3; // Middle
$color-light: #F2F5F9; // Light
$color-light-secondary: #9da4aa;

// Special Colors
$color-warm-dark: #c2563f;
$color-warm-light: #D67866;
$color-ocean-dark: #0a1418;
$color-ocean-light: #07212c;
$color-cement-dark: #47545c;
$color-cement-light: #616e76;
$color-obscure-dark: $color-dark-primary;
$color-obscure-light: $color-dark-secondary;
