// Mixins

@mixin flex($jc, $ai, $fd) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
