// Variables

// Typography
$typography: "Lato", sans-serif;

// Colors
@import "./colors";

// Fonts
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-semibold: 700;
$font-weight-bold: 900;

// Spacing
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-40: 40px;
$spacing-44: 44px;
$spacing-48: 48px;
$spacing-52: 52px;
$spacing-56: 56px;
$spacing-60: 60px;
$spacing-64: 64px;
$spacing-68: 68px;
$spacing-72: 72px;
$spacing-76: 76px;
$spacing-80: 80px;

// Extras
$transition: all 0.3s ease-in-out;
$slow-transition: all 0.4s ease-in-out;
$fast-transition: all 0.2s ease-in-out;

// Media Sizes
$media-size-mobile: 1024px;
$media-size-desktop-small: 1280px;
$media-size-desktop-medium: 1440px;

// Mixins
@import "_mixins";
