@import "../../assets/sass/_variables";

.header {
  position: relative;
  width: 100%;
  height: 180px;
  @include flex(center, center, row);

  &__logo {
    max-width: 360px;
    height: auto;
    @include flex(center, center, row);
  }
}
